@model IEnumerable<UsersManager.Models.Photo>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="photo-row photo-row-cols-6">
    @foreach (var item in Model)
    {
        <div class="photo-col photo-border">
            <div class="photo-card">
                <div class="photo-title">@Helper.AvatarProfilLink(item.User)</div>
                <div class="photo-title">@item.Title</div>
                <div class="photo-img">
                    <img src="@Url.Content(item.GetUrl(false))" width="300" height="200" alt="@item.Description" />
                </div>
                <div class="">
                    @Helper.Rating(item.Id.ToString(), item.Ratings) @item.Ratings
                </div>
            </div>
        </div>
    }
</div>
