@model IEnumerable<UsersManager.Models.Photo>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row row-cols-6">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <div>@Helper.AvatarProfilLink(item.User)</div>
                <div class="card-title">@item.Title</div>
                <img src="@item.GetUrl()" alt="@item.Description"/>
                <div>
                    @Helper.Rating(item.Id.ToString(), item.Ratings) @item.Ratings
                </div>
            </div>
        </div>
    }
</div>
