@model IEnumerable<UsersManager.Models.Photo>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row row-cols-6">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <div class="card-title">@Helper.AvatarProfilLink(item.User)</div>
                <div class="card-title mt-2">@item.Title</div>
                <div class="card-img">
                    <img src="@item.GetUrl(true)" alt="@item.Description" />
                </div>
                <div class="card-footer">
                    @Helper.Rating(item.Id.ToString(), item.Ratings) @item.Ratings
                </div>
            </div>
        </div>
    }
</div>
